#       $OpenBSD: sshd_config,v 1.73 2005/12/06 22:38:28 reyk Exp $
Protocol 2
SyslogFacility AUTH
LogLevel DEBUG

PermitRootLogin no
RSAAuthentication yes
AuthorizedKeysFile	/etc/ssh/keys/%u/authorized_keys2


PasswordAuthentication no

ChallengeResponseAuthentication no

GSSAPIAuthentication yes
GSSAPICleanupCredentials yes

UsePAM yes

AcceptEnv LANG LC_CTYPE LC_NUMERIC LC_TIME LC_COLLATE LC_MONETARY LC_MESSAGES 
AcceptEnv LC_PAPER LC_NAME LC_ADDRESS LC_TELEPHONE LC_MEASUREMENT 
AcceptEnv LC_IDENTIFICATION LC_ALL
X11Forwarding yes
Subsystem	sftp	/usr/libexec/openssh/sftp-server
